body{
background-image: url("double-bubble.png");
}

p{
    font-size: 25px; 
    font-family: "Arial"; 
    color: #ffffff; 
    font-weight: bold;
}

#Content P{
    font-size: 25px; 
    font-family: "Arial"; 
    color: #ffffff; 
    font-weight: bold;
    overflow: auto;
    padding: 15px;
    width: 95%;
    height: 270px;
}

h3{
    color: #FFBC00; 
    font-size: 60px;
    font-family: "Passion One";
    margin-bottom: 0px
}

#Header{
    background-color: #8E41D5;
    width: 500px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
    border: dotted 8px black;
    border-radius: 15px;
    text-decoration: overline;
    text-transform: uppercase;
    text-shadow: 2px 2px white;
}

#Header h1{
    text-align: center;
    font-size: 60px; 
    font-family: "Passion One"; 
    color: #FFBC00; 
    font-weight: bold; 
}

#LeftNav{
    background-color: #8E41D5;
    padding-bottom: 8px;
    padding-left:0px;
    text-align: center;
    float: left;
    width: 500px;
    border: solid 8px black;
    border-radius: 15px;
    list-style-type: none;
}

#LeftNav img{
width: 300px;
height: 250px;
}

#Content {
    background-color: #8E41D5;
    padding: 15px;
    text-align: center;
    width: 700px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: bottom 10px;
    border: solid 8px black;
    border-radius: 15px;
}

#Footer{
    background-color: #8E41D5;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: bottom 10px;
    border: solid 8px black;
    border-radius: 15px;
}

ul{
    list-style-type: none;
    padding-left: 0px;
}

#bow{
    text-align: center;
    font-size: 40px; 
    font-family: "Passion One"; 
    color: #FFBC00; 
    font-weight: bold;
}

a{
    color: white; 
    font-weight: bold; 
    font-size: 24px;
}
